*{
    padding: 0;
    }


        /*HEADER INSTRUCTIONS*/
      
body{
    margin-top: 5em;
    font-family: 'Open Sans', sans-serif;
}
header{
    justify-content: center;
    flex-direction: row;position: fixed;
    top:0;
}

.parent_container{
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5em;
    position: fixed;
    width: 100%;
    background-color: white;
}


.main_icon{
    width: 12%;
    border: 2px solid blue;
}

.menu{
    width: 50%;
    border: 2px solid gold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item{
    font-weight: bold;
}
#download_button_menu{
    color: rgb(255, 75, 99);
    border: 2px solid rgb(255, 75, 99);
    padding: 0.5em 1.5em;
    border-radius: 20px;
}


        /*MAIN INSTRUCTIONS*/
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 3em;
}


.deco{
    display: flex;
    justify-content: space-around;
}
.decorative{
    width: 2%;
    padding-top: 5%;
}


h1{
    display: flex;
    justify-content: center;
    font-size: 40pt;
}
p{
    justify-content: center;
    font-size: 15pt;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

.download_buttons{
    border: 2px solid rgb(0, 255, 42);
    display: flex;
    justify-content: center;
    
}
.button{
    background-color: rgb(255, 75, 99);
    padding: 1em 2em;
    border-radius: 1em;
    color: white;
    margin: 10px;
}

#blue_circle{
    width: 5%;
    align-self: flex-start;
    margin-left: 5em;
}
#iphone_section{
    display: flex;
    justify-content: center;
}
#iphone_laydown{
    width: 40%;
}

#options{
    border: 2px solid rgb(136, 20, 97);
    margin-top: 5em;
    display: flex;
    justify-content: space-around;
}
#options div{
    border: 2px solid rgb(200, 255, 0);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 8vw;
}
#options div p{
    border: 2px solid rgb(0, 174, 255);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    font-weight: bold;
    font-size: 9pt;
}
#option1, #option2, #option3, #option4, #option5{
    border-radius: 50%;
    display: flex;
}

#option1{
    background-color: rgb(232, 227, 249);
}
#option2{
    background-color: rgb(213, 242, 237);
}
#option3{
    background-color: rgb(247, 225, 231);
}
#option4{
    background-color: rgb(247, 239, 217);
}
#option5{
    background-color: rgb(221, 240, 249);
}

#description{
    display: flex;
    justify-content: center;
    padding-top: 5em;
}

#img_description{
    display: flex;
    justify-content: center;
    border: 2px solid rgb(255, 0, 200);
    padding: 2em 5em 0 5em;
}
#img_description img{
    width: 50%;
}
#description_text{
    border: 2px solid rgb(208, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5em;
    width: 50vw;
}
h2{
    font-size: 1.5rem;
}


#description2{
    display: flex;
    justify-content: center;
    margin-top: 5em;
    padding-bottom: 2em;
    background-color: rgb(229, 237, 245);
}
#description_text2{
    border: 2px solid rgb(208, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    width: 50vw;
}
.organization_buttons{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0.5em 1em;
    background-color: rgb(246, 249, 253);
    color: rgb(108, 109, 109);
}
#description2_text_list{
    border: 2px solid rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#description2_text_list ul{
    border: 2px solid rgb(0, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#img_description2{
    display: flex;
    justify-content: center;
    border: 2px solid rgb(255, 0, 200);
    padding: 2em 5em 0 5em;
}
#img_description2 img{
    width: 50%;
}



        /*FOOTER INSTRUCTIONS*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#info_section{
    display: flex;
    justify-content: space-around;
}
.footer_sections{
    display: flex;
    flex-direction: column;
}
.footer_sections p{
    display: flex;
    padding: 0;
    font-size: 10pt;
    justify-content: flex-start;
}